@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Helvatica Neue';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src:    url('../fonts/helveticaneue.woff2') format('woff2-variations'),
          url('../fonts/helveticaneue.woff2') format('woff2'),
          url('../fonts/helveticaneue.otf') format('opentype')
}

:root {
  --heading-font: 'Helvatica Neue', sans-serif;
}